.dropdown-values__btn {
    position: relative;
    background: none;
    border: none;
    text-align: start;
    margin-left: 16px;
    color: #07000F;
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
    padding: 12px 0;
    cursor: pointer;
}
  

.dropdown-values__btn::after {
    content: '';
    width: 32px;
    height: 32px;
    border: 1px solid black;
    border-radius: 50%;
    position: absolute;
    top: 7px;
    right: 10px;
}
  
.dropdown-values__btn.selected::after {
    background-image: url(../../../imgs/Checkbox.svg);
    background-color: #0067FE;
    border: 1px solid #0067FE;
}
  