/* Общие стили для всех браузеров */
.dropdown-values {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  overflow-y: auto; 
  height: 287px;
}

.dropdown-values_active {
  height: 226px;
}

/* Стили для WebKit (Chrome, Safari) */
.dropdown-values::-webkit-scrollbar {
  width: 4px;
  margin-right: 15px;
}

.dropdown-values::-webkit-scrollbar-thumb {
  background-color: #000; 
  border-radius: 7px;
}

.dropdown-values::-webkit-scrollbar-track {
  background-color: #fff;
}

/* Стили для Firefox */
@-moz-document url-prefix() {
  .dropdown-values {
    scrollbar-width: thin;
    position: relative;
  }

  .dropdown-values {
    scrollbar-color: transparent transparent; /* Сделаем скроллбар в Firefox прозрачным */
  }

  .dropdown-values::after {
    content: '';
    display: block;
    width: 4px;
    background-color: #000;
    border-radius: 7px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
  }

  .dropdown-values:hover::after {
    background-color: #000; 
    border-radius: 7px;
    animation: none; /* Отключаем анимацию при наведении */
  }
}
