.dropdown-values{
  display: flex;
  flex-direction: column;
  cursor: pointer;
  overflow-y: auto; 
  height: 287px;
}

.dropdown-values_active{
  height: 226px;
}


.dropdown-values::-webkit-scrollbar {
    width: 4px;
    margin-right: 15px;
}
  
.dropdown-values::-webkit-scrollbar-thumb {
    background-color: #000; 
    border-radius: 7px;
}
  
.dropdown-values::-webkit-scrollbar-track {
    background-color: #fff;
}
