.dropdown {
  max-height: 0;
  overflow: hidden;
  margin-top: 10px;
  width: 320px;
  height: 342px;
  background-color: white;
  opacity: 0;
  transition: max-height 0.5s ease, opacity 0.5s ease;
  position: relative;
  visibility: hidden;
  max-height: 340px; 
  border-radius: 10px;
  border: 1px solid var(--border-primary, rgba(7, 0, 15, 0.10));
}

.dropdown.open {
  opacity: 1;
  visibility: visible;
}

.dropdown::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}