.dropdown__filter-tab{
    border-bottom: 1px solid white; 
    cursor: pointer;
    color: var(--text-tertiary, rgba(7, 0, 15, 0.40));
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -1.52px;
    text-transform: uppercase;
    margin-left: 16px;
    padding-bottom: 12px;
}

.dropdown__filter-tab.active{
    border-bottom: 1px solid black; 
    color: black;
}